@model WebUI.Models.InventoryVM

@{
    ViewData["Title"] = "UpdateInventory";
}

<h1>UpdateInventory</h1>


<h4>InventoryVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateInventory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="inventoryid" class="control-label"></label>
                <input asp-for="inventoryid" class="form-control" readonly />
                <span asp-validation-for="inventoryid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inventoryQuantity" class="control-label"></label>
                <input asp-for="inventoryQuantity" class="form-control" />
                <span asp-validation-for="inventoryQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inventoryName" class="control-label"></label>
                <input asp-for="inventoryName" class="form-control"  readonly />
                <span asp-validation-for="inventoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="storeId" class="control-label"></label>
                <input asp-for="storeId" class="form-control"  readonly />
                <span asp-validation-for="storeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

