
@{
    ViewData["Title"] = "AppFeatures";
}

<h3>App Features</h3>
<ol>
    <ul>Add Customer</ul>
    <ul>Place order</ul>
    <ul>Replenish Inventory</ul>
    <ul>View order</ul>
</ol>

<h3>Differences from P0 to P1</h3>
<ol>
    <ul>I have a customer list instead of login</ul>
    <ul>Added multiple order views</ul>
    <ul>You can now add Managers, Products, and Storefront</ul>
</ol>

<h4>Extended Functions</h4>
<ol>
    <ul>Connected to a CI/CD Pipeline</ul>
    <ul>Have code analysis via Sonar Cloud</ul>
</ol>