@{
    ViewData["Title"] = "Privacy Policy";
}
<h2> About The Creator</h2>

<p>Hello I'm Cesar and I am the creator of the PokeStop Web App.</p>
<p>This app was created with my passion of play Pokemon Games as well as watching the original Pokemon series.</p>
<h3>About the App</h3>

<h4>Tech Stack</h4>
<ol>
    <ul>DotNet5</ul>
    <ul>ElephantSql</ul>
    <ul>EntityFrameworkCore</ul>
    <ul>Azure</ul>
    <ul>Sonar Cloud</ul>
    <ul>Azure DevOps</ul>
    <ul>ASP .Net MVC</ul>
</ol>

