
@{
    ViewData["Title"] = "FutureUpdates";
}

<h1>FutureUpdates</h1>

<ol>
    <ul>Add Unit Tests</ul>
    <ul>Create a login for Customers and Managers</ul>
    <ul>Instead of numbers have more descriptive with the orders</ul>
</ol>