@{
    ViewData["Title"] = "Privacy Policy";
}
<h2> About The Creator</h2>

<p>Hello I'm Cesar and I am the creator of the Pokestop Web App.</p>
<p>This app was created with my passion of play Pokemon Games as well as watching the original Pokemon series.</p>
<h3>About the App</h3>
<h4>Tech Stack</h4>
<ol>
    <ul>Name: Cesar Morales</ul>
    <ul>Hometown: Houston, TX</ul>
    <ul>Fun Fact: I like to watch MCU movies</ul>
</ol>
<h4>App Functions and Differences from P0 to P1</h4>
<ol>
    <ul>I have a customer list instead of login</ul>
    <ul>Added multiple order views</ul>
    <ul>You can now add Managers, Products, and Storefront</ul>
</ol>

<h4>Extended Functions</h4>
<ol>
    <ul>Connected to a CI/CD Pipeline</ul>
    <ul>Have code analysis via Sonar Cloud</ul>
</ol>